<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Profile Edit</title>
</head>
<body>
   <%= form_with model: @user, url: profile_path, local: true do |f| %>
   <%#= render 'shared/error_messages', object: f.object %>
   <ul>
   <%= f.label :avatar %>
   <%= f.file_field :avatar,class: 'form-control mb-3', accept: 'image/*' %>
   <%= f.hidden_field :avatar_cache %>

   <%= f.label :email %>
   <%= f.email_field :email, class: 'form-control mb-3' %>

   <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control mb-3' %>

   <%= f.label :gender %>
   <%= f.select :gender, {'男性': 1, '女性':2, '無回答':3} %>

   <%= f.label :age %>
   <%= f.number_field :age %>

   <%= f.label :address %>
   <%= f.text_field :address, class: 'form-control mb-3' %>

   <%= f.submit "更新", class: "btn btn-primary"%>
   <ul>
<%end%>
<%= link_to "戻る", :back %>
<%= link_to "「マイページ」へ戻る", mypages_path %>
</body>
</html>