<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile</title>
</head>
<body>

<header>
<!--ヘッダーロゴ-->
    <div class="main_logo">
      <%= link_to "StudyLink", homes_path, class: "logo" %>
    </div>

<!--ハンバーガーメニュー-->
    <div class="hamburger">
      <div class="icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

<!--スマホ用ハンバーガーメニューのリスト-->
    <nav class="sm">
      <ul class="list">  <%# このサイト参照 https://zenn.dev/ganmo3/articles/8ae23a01dd1206 %>
        <li><%= link_to "ログイン", new_user_session_path, class: "sub_item" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "sub_item" %></li>
        <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "sub_item"%></li>
        <li><%= link_to "プロフィール編集", profile_path, class: "sub_item" %></li>
        <li><%= link_to "マイページ", mypages_path, class: "sub_item"%></li>
        <li><%= link_to "学習記録投稿", recodes_path, class: "sub_item" %></li>
        <li><%= link_to "カレンダー", calendars_path, class: "sub_item" %></li>
        <li><%= link_to "TODOリスト", todopages_path, class: "sub_item" %></li>
      </ul>
    </nav>

<!--pc用ヘッダーリスト-->
    <nav class="pc">  <!--pcクラスを追記-->
      <ul class="pc_list">
      <!-- Fontawesome + 文字でリンク -->
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "items" do %>
            <i class="fas fa-sign-out fa-inverse fa-lg fa-fw" ></i>ログアウト
          <% end %>
        </li> 

        <li>
          <%= link_to homes_path, class: "items" do %>
            <i class="fas fa-home fa-inverse fa-lg fa-fw" ></i>トップ
          <% end %>
        </li> 

        <li>
          <%= link_to profile_path, class: "items" do %></li>
            <i class="fas fa-user-edit fa-inverse fa-lg fa-fw"></i> ユーザー編集
          <% end %>
        </li>
      </ul>
    </nav>
</header>
<!-- ヘッダー閉じ -->

<!-- main 以下に記入-->
<main> 
  <h1>プロフィール</h1>
    <% if current_user.guest_user? %>
      <p>※ゲストユーザーは編集できません</p>
      <p><%= image_tag "sample.jpg", class: 'rounded-circle', size: '50x50' %></p>
      <p>メールアドレス : <%= current_user.email %></p>
      <p>ユーザ名 : <%= current_user.name %></p>
    <% else %>
    <ul>
      <li><%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50' %></li>
      <li>メールアドレス : <%= current_user.email %></li>
      <li>ユーザ名 : <%= current_user.name %></li>
      <li>性別 : <%= current_user.gender %></li>
      <li>年齢 : <%= current_user.age %></li>
      <li>出身地 : <%= current_user.address %></li>
      <li>自己紹介文 : <%= current_user.self_introduction %></li>
    </ul>

    <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right' %>
    <% end %>
  <%= link_to 'パスワード変更', edit_user_registration_path %>
  <%= link_to "「マイページ」へ戻る", mypages_path %>
</main>
<!-- main 閉じ -->

</body>
</html>
<table class="table">
  <!--
    <tr>
      <th scope="row"><%= t(User.human_attribute_name(:email)) %></th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(User.human_attribute_name(:full_name)) %></th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th scope="row"><%= t(User.human_attribute_name(:avatar)) %></th>
       <td><%= image_tag current_user.avatar.url, class: 'rounded-circle', size: '50x50' %></td>
    </tr>
  </table>

  -->